# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Shapes.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\khnif\Google Drive\School\C#\shapes-quiz-KhnifesKyrillus\Shapes\.idea\.idea.Shapes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
